@import url('./__logo/resources__logo.css');
@import url('./__logo-zone/resources__logo-zone.css');
@import url('./__section-subtitle/resources__section-subtitle.css');
@import url('./__section-title/resources__section-title.css');


.resources{
  display: flex;
  flex-direction: column;
  align-items: center;
}