@import url('./__title/feynman__title.css');
@import url('./__subtitle/feynman__subtitle.css');
@import url('./__link/feynman__link.css');
@import url('./__image/feynman__image.css');

.feynman{
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
}