.footer__column-links{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-links:last-child{
  margin-bottom: 16px;
}

.footer__column-links:hover{
  opacity:.5;
  transition: opacity .7s ease-out;
}