.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* миксы для блока content */

.content__description{
  margin: 100px 0 100px 0;
}

.content__digits{
  margin: 0 0 100px 0;
}


/* Шапка сайта */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
}

.logo{
  width:183px;
  height: 32px;
}

.logo_place_header{
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top:30px;
  left: 64px;
  z-index: 3;
}

.logo_place_footer{
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}

.header__title{
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
  align-self: center;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  left:64px;
  bottom:30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link{
  color:#2f80ed;
  text-decoration: none;
  z-index: 2;
}

.header__main-illustration{
  width:765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic{
  background-color: #2f80ed;
  width: 568px;
  position: absolute;
  height: 568px;
  right: 0;
  top:64px;
}


/* Секция description */

.description{
  display: flex;
  justify-content: center;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief{
  width:175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin: 0;
}

.two-columns__main-text{
  width: 80%; 
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child{
  margin: 0;
}

.two-columns__span-accent{
  font-weight: bold;
}


/* Секция digits */
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__section-title{
  margin: 0 0 20px 0;
}
 
/* Section и его темная тема */
.section-title{
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark{
  color: white;
}

.section-subtitle{
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.section-subtitle_theme_dark{
  color:white;
}


/* Блок table и его темная тема */

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}


/* Секция feynman */

.feynman{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 0 70px 0;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle{
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:black;
  text-decoration: none;
  position: absolute;
  right:48px;
  top:50%;

}

.feynman__image{
  position: absolute;
  bottom:0;
  left: 0;
  width: 867px;
  height: 637px;
}


/* Секция kaufman */

.kaufman{
  position: relative;
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: -2;
}

.kaufman__triangle{
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top:0;
  z-index: -1;
}


/* Подвал */

.footer{
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color:white;
  margin:18px 0 18px 0;
}

.footer__column-heading{
  line-height: 30px;
  font-size:18px;
  font-weight: bold;
  color:white;
  margin: 0 0 20px 0;
}

.footer__column-links{
  line-height: 30px;
  font-size:18px;
  font-weight: normal;
  color:white;
  text-decoration: none;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright{
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info{
  margin:0 0 16px 0;
}

.footer__column_content_social{
  margin:0 0 16px 0;
}

.footer__social-icon{
  margin:0 10px 0 0;
}





